flet>=0.21.0
python-vlc
requests
winrt-Windows-Media; sys_platform == 'win32'
winrt-Windows-Storage-Streams; sys_platform == 'win32'
winrt-Windows-Foundation; sys_platform == 'win32'
colorama
python-dotenv
